@using TimeTracker.Models
@{
    List<Activity> projects = Model;
}

<div class="pd-20 card-box mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-lime h4">Work</h4>
            @*<p>Add class <code>.table</code></p>*@
        </div>
        <div class="pull-right">
            <a href="#basic-table" class="btn btn-primary btn-sm scroll-click" rel="content-y" data-toggle="modal" data-target="#modalAddActivity"
               role="button"><i class="fa fa-plus"></i> Create Work</a>
        </div>
    </div>

    <div class="table-responsive">
        <table id="projects" class="table data-table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
            <thead>
                <tr>

                    <th>Client Name</th>
                    <th>Project Name</th>
                    <th>Work Id</th>
                    <th>Work Name</th>
                    <th>Create Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in projects)
                {
                    <tr>
                        <td>@item.Project.Customer.CustomerName</td>
                        <td>@item.Project.ProjectName</td>
                        <td>@item.ActivityId</td>
                        <td>@item.ActivityName</td>
                        @*<td>@item.Category.CategoryName</td>*@

                        <td>@item.CreateDate</td>

                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1  dropdown-toggle"
                                   href="#" role="button" data-toggle="dropdown">
                                    <i class="icon-copy bi bi-gear-fill"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item btnEditActivity" ActivityId="@item.ActivityId" data-toggle="modal" data-target="#modalEditActivity" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                    <a class="dropdown-item btnDeleteActivity" ActivityId="@item.ActivityId" ActivityName="@item.ActivityName" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="modal fade text-left" id="modalAddActivity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel35"> Create Work</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Ajax.BeginForm("ActivityAddNew", "Activity", null, new AjaxOptions()
                    { UpdateTargetId = "container", HttpMethod = "Post", OnBegin = "onBeginFunction", OnSuccess = "OnSuccess" }, null))
                    {

                        <div class="modal-body">
                            <label for="email">Client</label>
                            <div id="CboCustomerContent" class="form-group">
                                @Html.Action("GetCboCustomer", "System")
                            </div>
                        </div>

                        <div class="modal-body">
                            <label for="email">Project</label>
                            <div id="CboProjectContent">
                                @Html.Action("GetCboProject", "System")
                            </div>
                        </div>

                        <div class="modal-body">
                            <label for="email">Work Name</label>
                            <input type="text" class="form-control" id="ActivityName" name="ActivityName" placeholder="">
                            <br>
                        </div>

                        <div class="modal-footer">
                            <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                            <input type="submit" class="btn btn-outline-primary btn-lg" value="Save">
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="modal fade text-left" id="modalEditActivity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel35"> Edit Work</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Ajax.BeginForm("ActivityUpdate", "Activity", null, new AjaxOptions()
                    { UpdateTargetId = "container", HttpMethod = "Post", OnSuccess = "OnSuccessEdit" }, null))
                    {
                        <div class="modal-body">

                            <label for="email">Work Id</label>
                            <input type="text" class="form-control" id="EdActivityId" name="EdActivityId" placeholder="" readonly="readonly">
                        </div>

                        <div class="modal-body">
                            <label for="email">Client</label>
                            @Html.Action("GetECboCustomer", "System")
                        </div>

                        <div class="modal-body">

                            <label for="email">Project</label>
                            <div id="CboEProjectContent">
                                @Html.Action("GetECboProject", "System")
                            </div>
                        </div>

                        <div class="modal-body">

                            <label for="email">Work Name</label>
                            <input type="text" class="form-control" id="EdActivityName" name="EdActivityName" placeholder="">

                            <br>
                        </div>

                        <div class="modal-body">

                            <input type="checkbox" id="Ebilleable" name="Ebilleable" />
                            <label for="customCheck2">
                                Billeable
                            </label>
                        </div>

                        <div class="modal-footer">
                            <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                            <input type="submit" class="btn btn-outline-primary btn-lg" value="Save">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>